html,body,form{
	padding:0;
	margin:0;
	font-family: tahoma,arial,sans-serif;
    font-size: 11px;	
}
hr{
	border: 1px solid #d2d2d2; 
	margin: 14px 0; 
	width : 544px;
}
.logo{
	background: #FFFFFF url('../img/logo.jpg') no-repeat center center;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/Logo.jpg', sizingMethod='scale');
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";*/
	height: 175px;
	margin: 20px auto;
width:478px;

}
.logo1{
	background: #FFFFFF url('../img/logo.jpg') no-repeat center center;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/Logo.jpg', sizingMethod='scale');
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";*/
	height: 175px;
	margin: 20px auto;
width:478px;

}
.mainBox{
	margin:0 auto;
	text-align: center;
}
.contentBox{
	width:450px;
	margin: 100px auto 0;
	text-align: left;
}
.moduleBoxWrapper_TOP {
	font-family: Arial,Helvetica,sans-serif;
    background: url("../img/login-header.png") transparent;
    color: #fff;
	text-align:center;
    font-size: 15px;
    font-weight: bold;
    height: 29px;
    padding: 12px 0 0 0px;
    width: 427px;
	float:left;
}
.moduleBoxWrapper_left{
	background: url("../img/login-header-left.png") transparent;
    height: 27px;
	width:8px;
	float:left;
	height:41px;
}
.moduleBoxWrapper_right{
	background: url("../img/login-header-right.png") transparent;
    height: 27px;
	width:8px;
	float:left;
	height:41px;
}

.moduleBoxWrapper_BACK {
    background: url("../img/login-content.png") repeat-y scroll left top transparent;    
    overflow: hidden;
    padding: 20px 24px 1px 14px;
    width: 405px;
	_width: 546px;
}
.moduleBoxWrapper_BOTTOM {
    background: url("../img/login-btm.png") no-repeat scroll transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/login-btm.png', sizingMethod='scale');
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 18px;
    overflow: hidden;
    width: 450px;
	margin: 0 auto;
}
.boxText {
    color: #5E5E5E;
    font-size: 12px;
}
.boxText a{
	text-decoration:none;
	color: #000000;
}
.loginFields{
	list-style-type: none;
	margin:0;
}
.loginFields li input{
	margin-bottom: 20px;
}
.loginFields li input[type=text], .loginFields li input[type=password]{
	border:1px solid #2964a0;
	height:20px;
}
.loginFields li label{
	margin-left:5px;
	color: #F00;
}
.loginFields li input[type="submit"]{
	margin-bottom: 10px;
	background:url("../img/login-header.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	border:none;
	height:25px;
	color:#fff;
	font-weight:bold;
	border-radius:5px;
	cursor:pointer;
}
.loginFields li input[type="submit"]:hover{color:#000;}
ul li{
	margin:2px 0;
}
.select-bar {
	text-align: center;
    border-bottom: 2px solid #FF7700;
    border-top: 2px solid #FF7700;
    clear: both;
    margin: 0 0 10px;
    padding: 2px 0;
	
}
.complsory{color:#FF0000;}
#loginfrm ul li{ _margin-left:45px;}
.loginFields{border-top:2px solid #2964a0; margin-top:2px; border-bottom:2px solid #2964a0; width:366px;}
.gradient{_margin-bottom:10px !important;}
.errorDiv{
	margin:2px 20px;
	color:#FF0000;
	font-weight:bold;
}
.login{width:75px; height:30px; font-weight:bold; margin-top:5px; cursor:pointer; line-height:30px; padding:0 5px; border-radius:5px; border:0;}
.clear{clear:both;}

#left-column h3 {
    background: url("../img/bg-left-header.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-size: 11px;
    height: 25px;
    line-height: 23px;
    margin: 0;
    padding: 0 0 0 9px;
}
body {
    color: #000000;
    font-family: tahoma,arial,sans-serif;
    font-size: 11px;
}
.contentBox {
    margin: 100px auto 0;
    text-align: left;
    width: 450px;
}
.mainBox {
    text-align: center;
}
html, body, form {
    font-family: tahoma,arial,sans-serif;
    font-size: 11px;
}
html, body, form {
    font-family: tahoma,arial,sans-serif;
    font-size: 11px;
}
.header {
    height: 95px;
}
